.searchPageLogo {
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
}

.searchPageHeader {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}

.searchPageHeaderBody > .search > .searchInput {
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}

.searchPageOptions {
    display: flex;
    align-items: center;
    color: grey;
}

.searchPageOptionsLeft, .searchPageOptionsRight {
    display: flex;
}

.searchPageOptions a, .searchPageOptionsRight a {
    text-decoration: none;
    color: grey;
}

.searchPageOptionsRight {
    margin-left: 80px;
}

.searchPageOption {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchPageOption a {
    margin-left: 5px;
}

.searchPageResults {
    max-width: 650px;
    margin-left: 240px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.searchPageResults a {
    text-decoration: none;
}

.searchPageResults a:hover {
    text-decoration: underline;
}

.searchPageResults a h2 {
    font-weight: 600;
}